a.not-registered {
  font-size: 2.5vmin;
  color: #f0f2f3;
  background-color: #00b4d8d6;
  padding: 1vmin;
  box-shadow: 2px 2px 2px rgba(255, 255, 255, 0.339);
  /* text-shadow: 0px 1px 1px #ece5e5; */
}

a.not-registered:hover {
  /* color: #549cc2; */
  background-color: none;
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

h2.log-in {
  text-shadow: 2px 2px 2px #fefefe;
}

.login-btn {
  justify-self: center;
  width: 50%;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-form {
  width: 30%;
  padding: 2.5vmin;
}
