#workout-card {
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 15px;
  background-color: #f9f9f9;
  width: 40vmin;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

#workout-card:hover {
  background-color: #f0f0f0;
  border-radius: 15px;
}

.workout-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* make only four cards show in a line */
  max-width: 60%;
  width: 70%;
}

.workout-list h2 {
  text-align: center;
  margin: 20px;
}

article#workout-card {
  margin: 10px;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.402);
  border-radius: 15px;
  background-color: rgb(255, 255, 255);
  width: 40vmin;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

article#workout-card:hover {
  background-color: rgba(255, 255, 255, 0.831);
  border-radius: 15px;
  /* easy transition */
  /* transition: background-color 0.4s; */
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

.footer {
  width: 100%;
  padding: 20px 0;
  background-color: #0076b6;
  text-align: center;
  color: #fff;
  font-size: 0.9rem;
}

.list-header {
  font-family: "Poppins", sans-serif; /* Use a modern font */
  font-size: 3rem;
  font-weight: 800;
  text-align: center;
  background: linear-gradient(90deg, #00b4d8, #0077b6);
  -webkit-background-clip: text;
  background-clip: text; /* Add the standard property 'background-clip' */
  -webkit-text-fill-color: transparent;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  letter-spacing: 2px;
  transition: transform 0.3s ease-in-out;
}
