.NavBar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.5vmin;
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  background-color: #bbebfa;
  background-image: radial-gradient(
      circle,
      rgba(255, 255, 255, 0.15) 20%,
      transparent 20%
    ),
    radial-gradient(circle, rgba(255, 255, 255, 0.15) 20%, transparent 20%);
  background-size: 2vmin 2vmin;
  border-bottom: black 1px solid;
}

.NavBar span {
  color: rgb(0, 0, 0);
}

.NavBar span {
  display: flex;
  align-items: center;
}

.NavBar .fa-user {
  margin-right: 5px;
}

.workouts-link {
  text-decoration: none;
}

a.workouts-link:hover {
  text-decoration: none;
}
