.NavBar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.5vmin;
}

.NavBar span {
  color: rgb(108, 9, 87);
}

.NavBar span {
  display: flex;
  align-items: center;
}

.NavBar .fa-user {
  margin-right: 5px;
}

.workouts-link {
  font-size: 1.5rem; /* Adjust the size to your preference */
  text-decoration: none;
}