:root {
  font-family: EB_Garamond, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #1a1a1a;
  background-color: whitesmoke;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #bbebfa;
  background-image: radial-gradient(
      circle,
      rgba(255, 255, 255, 0.15) 20%,
      transparent 20%
    ),
    radial-gradient(circle, rgba(255, 255, 255, 0.15) 20%, transparent 20%);
  background-size: 2vmin 2vmin;
}

h1,
h2 {
  text-align: center;
  font-family: EB_Garamond, serif;
  margin-top: 2vmin;
}

button {
  border: 0.5vmin solid #cd2d2d;
  border-radius: 1vmin;
  padding: 0.5vmin;
  margin: 1vmin;
  font-size: 2vmin;
  font-weight: 500;
  font-family: inherit;
  background-color: #cd2d2d;
  color: whitesmoke;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

button:hover {
  background-color: rgb(169, 10, 10);
  color: whitesmoke;
  border-color: rgb(169, 10, 10);
}
button:disabled {
  background-color: grey;
}



a {
  border-radius: 0.8vmin;
  padding: 0.5vmin;
  font-size: 2.5vmin;
  text-decoration: none;
  color: #1a1a1a;
  font-family: EB_Garamond, serif;
}

a {
  text-decoration: none; /* Remove default underline */
  color: inherit; /* Keep the link color consistent */
  transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition */
}

nav a:hover {
  background-color: none;
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

form {
  display: grid;
  gap: 1.2vmin;
  padding: 4vmin;
  border: 0.2vmin solid #1a1a1a;
  border-radius: 2vmin;
  width: 90%;
}

input {
  padding: 0.7vmin;
  font-size: 2vmin;
  border: 0.3vmin solid #1a1a1a;
  border-radius: 0.5vmin;
}

form > button:last-child {
  margin-top: 2vmin;
}

label {
  font-size: 2vmin;
  font-weight: bold;
}

h2 {
  text-align: center;
}

.error-message {
  color: rgb(166, 29, 29);
}

.footer {
  width: 100%;
  padding: 20px 0;
  background-color: #0076b6;
  text-align: center;
  color: #fff;
  font-size: 0.9rem;
}

@font-face {
  font-family: "EB_Garamond";
  src: url(../../../HydroHub/frontend/public/fonts/EB_Garamond/EBGaramond-Regular.ttf)
    format("truetype");
}
