#workout-card {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
    background-color: #f9f9f9;
    width: 40vmin;
}

#workout-card:hover {
    background-color: #f0f0f0;
    border-radius: 1px;
}

.workout-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 90%;

}

.workout-list h2 {
    text-align: center;
    margin: 20px;
}

