.workout-details {
  padding: 1vmin;
  border: 2px solid var(--primary-color); /* Your theme's primary color */
  border-radius: 8px;
  background-color: var(--background-color); /* Your theme's background */
  color: var(--text-color); /* Your theme's text color */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  min-width: 60%;
  max-width: 90%;
  margin: 3vmin;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: whitesmoke;
}

.workout-details h1 {
  font-size: 2rem;
  color: #028fc2; /* The color used for headings */
  font-family: "Poppins", sans-serif; /* Use a modern font */
  font-size: 3rem;
  font-weight: 800;
  text-align: center;
  background: linear-gradient(90deg, #00b4d8, #0077b6);
  /* -webkit-background-clip: text; */
  background-clip: text; /* Add the standard property 'background-clip' */
  /* -webkit-text-fill-color: transparent; */
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  /* transition: transform 0.3s ease-in-out; */
}

.workout-details p {
  font-size: 1.2rem;
  margin: 1vmin
}

.comments-header {
  color: aliceblue;
  font-size: 1.5rem;
}

p.comments {
  font-size: 1.2rem;
  margin: 10px 0;
  color: aliceblue;
}

.workout-details strong {
  font-weight: bold;
  color: var(--highlight-color); /* Highlighted color for labels */
}

a.edit {
  padding: 1vmin;
  font-size: 2vmin;
  font-weight: 500;
  background-color: rgb(12, 112, 198);
  color: rgb(255, 255, 255);
  text-decoration: none;
  border-radius: 4px;
  margin-top: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  min-width: 20vmin;
}

a.edit:hover {
  background-color:rgb(0, 80, 150)
}

div.comment-container {
  margin: 2vmin;
  align-self: center;
  padding: 2.5vmin;
  border: 2px solid var(--primary-color); /* Your theme's primary color */
  border-radius: 8px;
  background-color: whitesmoke;
  color: var(--text-color); /* Your theme's text color */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  min-width: 60%;
  max-width: 80%;
}

div.comment-container p {
  padding: 0.4vmin;
}

form.comment-form {
  display: grid;
  gap: 1.2vmin;
  padding: 3vmin;
  border: 0.25vmin solid var(--border-color); /* Your theme's border color */
  border-radius: 1vmin;
  width: 70%;
  
}

form.comment-form textarea {
  padding: 0.7vmin;
  font-size: 2vmin;
}

button.comment-btn {
 width: auto;
}

